<!DOCTYPE html>
<html >
<head>
     <link rel="stylesheet" href="css/style.css">
   
</head>
<body>
    {{>nav}}
    <h1>{{title}}</h1>
    <p>{{desc}}</p>
    <form action="">
        <input type="text">
        <button>search</button>
    </form>
    <p id="m1"></p>
    <p id="m2"></p>
 <script src="fetch.js"></script>
</body>
</html>